{% if questions %}
{% for question in questions %}
<div class="question">
  <form type="post" action="/answer/">
    <p>{{ question.text }}</p>
    <input type="checkbox" name="ans" id="1" value={{ question.opt1 }}/><label for="1">{{ question.opt1 }}</label>
    <input type="checkbox" name="ans" id="2" value={{ question.opt2 }}/><label for="2">{{ question.opt2 }}</label>
    <input type="checkbox" name="ans" id="3" value={{ question.opt3 }}/><label for="3">{{ question.opt3 }}</label>
    <input type="checkbox" name="ans" id="4" value={{ question.opt4 }}/><label for="4">{{ question.opt4 }}</label>
    <hr>
    <input type="submit" value="Submit" />
    {% if show_tags %}
    Tags : 
    <ul>
      {% for tag in question.tag_set.all %}
      <li><a href="/tag/{{ tag.name }}">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </form>
</div>
{% endfor %}
{% else %}
<p>No questions found</p>
{% endif %}
